.login {
  width: calc(100% - 76.6em);
  margin: 0 auto;
  padding: 8.7em 9.3em;
  border-radius: 0 0 1.6em 1.6em;
  background-color: var(--color-dark-main);
}

.login__title {
  font-size: 3.8em;
  line-height: 2em;
  color: var(--color-white);
  margin: 1.5em 0 1em;
  font-weight: 600;
}

.login__input,
.login__button {
  display: block;
  width: 100%;
  font-size: 1.6em;
  padding: 1.3em 1.3em;
  border-radius: 1.2em;
}

.login__input {
  margin: 2.4em 0;
  background-color: var(--color-lighter-gray);
}

.login__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4.8em;
  background-color: var(--color-white);
  cursor: pointer;
  color: var(--color-dark-main);
  font-weight: 600;
  padding: 1.3em 1.6em;
}

#chakra-toast-manager-top-right {
  font-size: 1.6em;
}