.todo__wrapper {
  max-width: 75em;
  margin: 0 auto;
}

.todo__search {
  display: flex;
  margin-bottom: 1em;
}

.todo__search__input {
  width: 100%;
  font-size: 1.6em;
  padding: 1.5em;
  border-radius: 0.5em 0 0 0.5em;
  border: 0.1em solid var(--color-light-gray);
}

.todo__search__button {
  padding: 1.5em;
  font-size: 1.1em;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 0 0.5em 0.5em 0;
  background-color: var(--color-light-gray);
  cursor: pointer;
}

.todo__list {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.01);
}

.todo__list__item {
  display: flex;
  flex-wrap: wrap;
  padding: 1.5em;
  border-radius: 0.5em;
  border: 0.1em solid var(--color-light-gray);
}

.todo__list--no-results {
  display: block;
  font-size: 1.6em;
  padding: 1.5em;
  color: var(--color-gray);
}

.todo__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin-bottom: 1.6em;
}

.todo__actions {
  display: flex;
  margin-top: 2em;
}

.todo__actions button {
  display: inline-block;
  font-size: 1.1em;
  padding: 7px;
  border-radius: 5px;
  margin-right: 5px;
  cursor: pointer;
  text-transform: uppercase;
  color: var(--color-main);
  border: 1px solid var(--color-main);
  background-color: transparent;
}