.filterButtons {
  margin-bottom: 40px;
}

.filterButtons__button {
  background-color: #F0F4F8;
  height: 32px;
  border-radius: 32px;
  padding: 4px 16px;
  margin-right: 16px;
}

.filterButtons__button--select {
  color: #fff;
  background-color: #3B3B3B;
  height: 32px;
  border-radius: 32px;
  padding: 4px 16px;
  margin-right: 16px;
}