.home {
  width: 100%;
  max-width: calc(100% - 50em);
  min-width: 32em;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5em 0 2.5em;
  text-align: center;
  margin: 0 auto;
}

.home__article {
  width: 100%;
  max-width: 55em;
  display: block;
  font-weight: 300;
  text-align: center;
  margin: 1.5em auto;
}

.home__article--disclaimer {
  padding: 1.5em;
  border-radius: 0.5em;
  max-width: 45em;
  background-color: rgba(0, 0, 0, 0.02);
  border: 0.1em solid var(--color-light-gray);
}

.home__nav {
  margin-top: 2em;
}

.home__nav__list {
  list-style: none;
}

.home__nav__list li:first-child {
  margin-bottom: 1em;
}