.header {
  height: 7em;
  background-color: white;
  width: 100vw;
  padding-top: 1.6em;
  border-bottom: 0.1em solid var(--color-main);
}

.header__nav {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15%;
}

.header__logo {
  width: 4em;
}

.header__button {
  font-size: 1.4em;
  padding: 0.4em 1.6em;
  border-radius: 0.5em;
  color: var(--color-main);
  border: 0.1em solid var(--color-main);
}