.bankStatement__container {
  border: 0.1em solid #DEE4E9, ;
  border-radius: 1.6em;
  padding: 1.6em;
  font-size: 1.6em;
}

.bankStatement__verticalLine {
  border-left: 0.1em solid #DEE4E9;
  height: 1.5em;
  margin-left: 3em;
}

.bankStatement__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  padding: 1em;
}

.bankStatement__article {
  display: flex;
  align-items: center;
}

.bankStatement__title--credit,
.bankStatement__amount--credit {
  color: #1A93DA;
}

.bankStatement__title--refund,
.bankStatement__title--credit,
.bankStatement__title--debit {
  margin-left: 1em;
  font-weight: 400;
}

.bankStatement__amount--credit,
.bankStatement__amount--debit,
.bankStatement__amount--refund {
  font-weight: 600;
  text-align: right;
}

.bankStatement__amount--refund {
  text-decoration: line-through;
}