.bankStatementSummary {
  margin: 0.8em 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4em;
  line-height: 2em;
}

.bankStatementSummary__title,
.bankStatementSummary__amount {
  font-weight: 600;
}